* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 80vh;
}

nav {
  background: rgb(226, 10, 143);
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-name a {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
nav .nav-link a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}
.main-section {
  display: flex;
  gap: 12px;

  margin: 8px;
}

.main-section .left-div {
  width: 75%;
}
.main-section .right-div {
  width: 25%;
  border: 2px solid gray;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(238, 5, 5, 0.05);
}
.main-section .left-div .about {
  padding: 12px;
  border: 2px solid gray;
  border-radius: 4px;
}
.main-section .left-div .about h1 {
  font-family: sans-serif;
  font-size: large;
}
.main-section .left-div .about p {
  font-size: 16px;
  margin-top: 12px;
  font-family: sans-serif;
}

.main-section .left-div .exp {
  padding: 12px;
  border: 2px solid gray;
  border-radius: 4px;
  margin-top: 12px;
  height: 280px;
}

.main-section .left-div .exp h1 {
  font-family: sans-serif;
  font-size: large;
}

.main-section .right-div .side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .right-div .side .sidebar-img img {
  width: 150px;
  height: 150px;
}

.main-section .right-div .side .content {
  text-align: center;
}
.main-section .right-div .side .content h1 {
  font-size: 24px;
}
.main-section .right-div .side .content p {
  font-size: 16px;
}
.main-section .right-div .side .skill-section {
  text-align: center;
  margin-top: 12px;
}
.main-section .right-div .side .skill-section h1 {
  font-size: 26px;
}
.main-section .right-div .side .skill-section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 57px;
}
.main-section .right-div .side .skill-section ul li {
  font-size: 16px;
  margin-top: 12px;
  font-family: sans-serif;
}

.footer {
  background-color: bisque;
  margin: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: auto;
  background: rgb(226, 10, 143);
  padding: 2px;
  border-radius: 4px;
}

.footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: sans-serif;
}
.footer .fa-brands {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-right: 12px;
}

@media (max-width: 992px) {
  .main-section {
    flex-direction: column;
  }

  .main-section .left-div,
  .main-section .right-div {
    width: 100%;
  }

  .footer {
    flex-direction: column;
  }
  .footer a {
    font-size: 18px;
  }

  .footer .fa-brands {
    font-size: 24px;
  }
}
