* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main-container {
  margin: 40px;
  height: auto;
}
nav {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 40px;
  padding: 0 100px;
  background: rgb(0, 0, 0);
}
nav .nav-link a {
  font-size: 27px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.main {
  width: 70%;

  height: auto;
  float: left;
  margin-top: 12px;
}
.main .about-section {
  padding: 30px;
}
.main .experience-section {
  padding: 30px;
}
.main .about-section h1 {
  font-family: sans-serif;
}
.main .about-section p {
  font-size: 16px;
  margin-top: 12px;
  font-family: sans-serif;
}
.sidebar {
  width: 30%;
  background-color: rgb(255, 249, 249);
  height: auto;
  float: right;
  margin-top: 12px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sidebar .sidebar-content {
  background: black;
  color: white;
}
.sidebar .sidebar-img img {
  width: 150px;
  height: 150px;
}
.skill-section .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.skill-section .skills h1 {
  font-family: sans-serif;
  margin-bottom: 12px;
  margin-top: 12px;
}
.skill-section .skills p {
  font-size: 24px;
  margin-bottom: 8px;
  margin-top: 8px;
  font-family: sans-serif;
  background-color: black;
  color: white;
  border-radius: 120px;
  padding: 12px;
  width: 100%;
}
.footer {
  width: 100%;

  clear: both;
  height: 40px;
}

.footer .footer-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 8, 12);
  padding: 12px;
}
.footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-family: sans-serif;
}
.footer .fa-brands {
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin-right: 12px;
}

@media (max-width: 992px) {
  .sidebar {
    width: 100%;
    background-color: rgb(255, 249, 249);
    height: auto;
    float: top;
    margin-top: 12px;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    float: left;
    margin-top: 12px;
  }

  .nav {
    padding: 0 100px;
  }
}
